name: "LINT: Run ruff & mypy"
on:
  push:
  pull_request:
  schedule:
    - cron: '0 7 * * 1'
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade poetry
          poetry install
      - name: Lint with ruff & mypy
        run: |
          poetry run ruff check pydantic_partial tests
          poetry run mypy pydantic_partial
